<div data-id="favorites-list">



<form >

  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Edit or Delete</th>
        <th>Name<th/
        <th>Adjective</th>
        <th>Noun</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>

      {{#each userFavorites as |favorite|}}

      <tr data-id={{favorite.id}}>

        <th>  <a class="load-edit-btn btn" data-toggle="modal" data-target=".bs-edit-delete" href="#"
          class="list-group-item list-group-item-action" id="{{favorite.id}}">Edit or Delete</a></th>

        <td >The {{favorite.adjective}} {{favorite.noun}}</td>

        <td>{{favorite.adjective}}</td>

        <td>{{favorite.noun}}</td>

        <td>{{favorite.comment}}</td>

      </tr>

      {{/each}}

    </tbody>

  </table>
