
{{#each newFavorite as |favorite|}}
<form data-id="{{favorite.id}}">
  <h4> The
  <span data-id="{{favorite.adjective}}">{{favorite.adjective}}</span>
  <span data-id="{{favorite.noun}}">{{favorite.noun}}</span>
</h4>
  <br>
  <p data-id="{{favorite.comment}}">
    {{favorite.comment}}
</p>
</form>
{{/each}}
